
<!DOCTYPE html>
<html lang="en">
<head>
    
    <div>
        <!-- Basic Page Needs
    ================================================== -->
        <meta charset="utf-8">
        <title>Art School - Panos Chnarakis</title>

        <!-- Mobile Specific Metas
    ================================================== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Construction Html5 Template">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <meta name=author content="Themefisher">
        <meta name=generator content="Themefisher Constra HTML Template v1.0">

        <!-- Favicon
    ================================================== -->
        <link rel="icon" type="image/png" href="~/Assets/source/images/logo.png">
    </div>

    @Html.Partial("~/Areas/Public/Views/Shared/Components/_MetaHeader.cshtml")

</head>
<body>
    <div class="body-inner">
        <!--Header-->
        @Html.Partial("~/Areas/Public/Views/Shared/Components/_Header.cshtml")

        <!--Body-->

        @RenderBody()


        <!--Footer-->
        @Html.Partial("~/Areas/Public/Views/Shared/Components/_Footer.cshtml")


        <!--Javascript-->
        @Html.Partial("~/Areas/Public/Views/Shared/Components/_JSLibraries.cshtml")


        @RenderSection("Scripts", required: false)
    </div><!-- Body inner end -->
</body>

</html>